@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Iceberg&display=swap");
@import "tailwindcss";

@theme {
  --font-iceberg: "Iceberg", sans-serif;
  --font-ADLaM-Display: "ADLaM Display", system-ui;
  --font-outfit: "Outfit", sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff5308;
  --color-gray: #d9d9d9;
  --color-semi-black: #333333;
  --color-hero: #e9e9e9;

  --text-10x1: 10rem;
}
